body{
    margin: 0px;
}
:root{
--primary-color :#93c5fd;
--secondary-color:#fde047;
--textarea-color:#fde68a;
}
body{
   background-color: var(--primary-color);
}
.textarea {
    width: 40%;
    border: 1px solid black;
    /* 
    display: block;
    */
    height: 30vh;
    margin: 1rem; 
    background-color: var(--textarea-color);
}
.container{
    text-align: center;
    padding: 1rem;
}

.button {
    width: 10px;
    height: 10px;
}
.navigation{
background-color: var(--secondary-color);
height: 3rem;
padding: 1rem;
}
.nav-title{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
 

}
.container-ot {
    background-color: var(--textarea-color);
    border: 1px solid black;
    text-align:center;
    width: 40%;
    min-height: 20vh;
    height: auto;
    margin: 0% 30%;
    margin-bottom: 2rem;
}
.img{
   height: 20%;
   width: 20%;
   padding: 1rem;
}